In [1]:
import cx_Oracle
import os
import xlsxwriter
import datetime

now = datetime.datetime.now()
kemarin = now - datetime.timedelta(1)
kemarin_str =  str(kemarin.strftime('%Y%m%d'))
dir = '/home/palugada/Daily/'

os.environ["ORACLE_HOME"] = "/usr/lib/oracle/12.2/client64"
# workbook = xlsxwriter.Workbook('/home/palugada/Daily/Demo.xlsx')
workbook = xlsxwriter.Workbook(dir+"RBT_Daily_Report_"+str(kemarin_str)+".xlsx")
database = cx_Oracle.connect('RBTRPTN/RBTRPTN@192.168.0.7:1521/RBTRPTN')

bold = workbook.add_format({'bold': True, 'bg_color': '#92D050', 'align': 'center', 'valign': 'vcenter', 'border': 1})
bold.set_border()
bold.set_text_wrap()
title = workbook.add_format({'bold': True})

# Create worksheet summary
worksheet = workbook.add_worksheet('SUMMARY')

In [2]:
# A All KPI
def A_KPI():
    cursor = database.cursor()
    SUMMARY = ("SELECT calling_date, sms, umb, ivr, http, wap, web, openapi, mobileapps, wcc, csweb, renewal, rbt_req, chg_req, refund_req, \
    chg_trans_succ, chg_timeout, decode(chg_req, 0, 0,(((chg_req-chg_timeout)/ chg_req)) * 100) AS chgSuccessRate, chg_succ, \
    decode(chg_req, 0, 0,(chg_succ / chg_req)* 100) AS billableRate, chg_insf, chg_subs_locked, chg_other_err, refund_succ, \
    decode(refund_req, 0, 0,(refund_succ / refund_req)* 100) AS refundRate, prov_req, deprov_req, prov_succ, prov_error, \
    prov_timeout, decode(prov_req, 0, 0,((prov_req-prov_timeout)/ prov_req)* 100) AS provTransactionRate, decode( \
    prov_req, 0, 0,(prov_succ / prov_req)* 100) AS provRate, deprov_succ, deprov_err, decode(deprov_req, 0, 0,( \
    deprov_succ / deprov_req)* 100) AS deactiveRate, revenue, avg_svc_latency FROM perf_dashboard WHERE \
    CALLING_DATE = TO_CHAR(SYSDATE-1,'YYYYMMDD') ORDER BY calling_date DESC")
    
    # Exec query summary
    cursor.execute(SUMMARY)
    result = cursor.fetchall()
    
    worksheet.write('A1','A All KPI',title)
    worksheet.merge_range('B3:B4','Calling Date',bold)
    worksheet.merge_range('C3:M3','User InterFace',bold)
    worksheet.write('C4','SMS',bold)
    worksheet.write('D4', 'UMB',bold)
    worksheet.write('E4', 'IVR',bold)
    worksheet.write('F4', 'HTTPGW',bold)
    worksheet.write('G4', 'WAP',bold)
    worksheet.write('H4', 'WEB',bold)
    worksheet.write('I4', 'OPENAPI',bold)
    worksheet.write('J4', 'MKIOS',bold)
    worksheet.write('K4', 'WCC',bold)
    worksheet.write('L4', 'CSWEB',bold)
    worksheet.write('M4', 'RENEWAL',bold)
    worksheet.merge_range('N3:N4','Total Purchase Request Received by RBT Eluon',bold)
    worksheet.set_column(1,12, 12)
    worksheet.set_column('N:N', 20) # 13
    worksheet.merge_range('O3:P3','RBT Eluon Request to INGW',bold)
    worksheet.write('O4', 'Charge',bold)
    worksheet.write('P4', 'Refund',bold)
    worksheet.set_column(14,15, 13)
    worksheet.merge_range('Q3:S3','Transaction Response from INGW',bold)
    worksheet.write('Q4', 'Success Charging Transaction',bold)
    worksheet.write('R4', 'Charging Time Out (802)',bold)
    worksheet.write('S4', 'Charging Transaction Success Rate',bold)
    worksheet.set_column(16,18, 12)
    worksheet.merge_range('T3:X3','Charging Related',bold)
    worksheet.write('T4', 'Success Charged/Billable',bold)
    worksheet.write('U4', 'Success Charged Rate',bold)
    worksheet.write('V4', 'Low Balance',bold)
    worksheet.write('W4', 'Subscriber Locked',bold)
    worksheet.write('X4', 'Unknown Error Code (502)',bold)
    worksheet.set_column(19,23, 12)
    worksheet.merge_range('Y3:Z3','Refund Process',bold)
    worksheet.write('Y4', 'Success Refund',bold)
    worksheet.write('Z4', 'Refund Success Rate',bold)
    worksheet.set_column(24,25, 12)
    worksheet.merge_range('AA3:AB3','RBT Eluon Request to ProvGW',bold)
    worksheet.write('AA4', 'Activation',bold)
    worksheet.write('AB4', 'Deactivation',bold)
    worksheet.set_column(26,27, 12)
    worksheet.merge_range('AC3:AG3','Activation Responses from ProvGW',bold)
    worksheet.write('AC4', 'Success',bold)
    worksheet.write('AD4', 'Prov Error',bold)
    worksheet.write('AE4', 'Time Out',bold)
    worksheet.set_column(28,30, 12)
    worksheet.write('AF4', 'Provisioning Transaction Success Rate',bold)
    worksheet.set_column('AF:AF', 15)
    worksheet.set_row(3, 50)
    worksheet.write('AG4', 'Provisioning Success Rate',bold)
    worksheet.set_column('AG:AG', 13)
    worksheet.merge_range('AH3:AJ3','Deactivation Responses from ProvGW',bold)
    worksheet.write('AH4', 'Success',bold)
    worksheet.write('AI4', 'Failed',bold)
    worksheet.write('AJ4', 'Success Rate',bold)
    worksheet.set_column(33,34, 12)
    worksheet.merge_range('AK3:AK4','Revenue',bold)
    worksheet.set_column('AK:AK', 18) # 35
    worksheet.merge_range('AL3:AL4','Average Purchase Service Latency (ms)',bold)
    worksheet.set_column('AL:AL', 20) # 36
    
    # for row in result:
    #     print(row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14], row[15], row[16], row[17], row[18], row[19], row[20], row[21], row[22], row[23], row[24], row[25], row[26], row[27], row[28], row[29], row[30], row[31], row[32], row[33], row[34], row[35], row[36])
    
    for r, row in enumerate(result, start=4):
        for c, col in enumerate(row):
            content = workbook.add_format({'font_color': 'black', 'num_format': '#,##0', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            content.set_border()
            date_format = workbook.add_format({'font_color': 'black', 'num_format': 'yyyymmdd', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            date_format.set_border()
            worksheet.write(r,1, row[0], date_format)
            worksheet.write(r,2, row[1], content)
            worksheet.write(r,3, row[2], content)
            worksheet.write(r,4, row[3], content)
            worksheet.write(r,5, row[4], content)
            worksheet.write(r,6, row[5], content)
            worksheet.write(r,7, row[6], content)
            worksheet.write(r,8, row[7], content)
            worksheet.write(r,9, row[8], content)
            worksheet.write(r,10, row[9], content)
            worksheet.write(r,11, row[10], content)
            worksheet.write(r,12, row[11], content)
            worksheet.write(r,13, row[12], content)
            worksheet.write(r,14, row[13], content)
            worksheet.write(r,15, row[14], content)
            worksheet.write(r,16, row[15], content)
            worksheet.write(r,17, row[16], content)
            worksheet.write(r,18, row[17], content)
            worksheet.write(r,19, row[18], content)
            worksheet.write(r,20, row[19], content)
            worksheet.write(r,21, row[20], content)
            worksheet.write(r,22, row[21], content)
            worksheet.write(r,23, row[22], content)
            worksheet.write(r,24, row[23], content)
            worksheet.write(r,25, row[24], content)
            worksheet.write(r,26, row[25], content)
            worksheet.write(r,27, row[26], content)
            worksheet.write(r,28, row[27], content)
            worksheet.write(r,29, row[28], content)
            worksheet.write(r,30, row[29], content)
            worksheet.write(r,31, row[30], content)
            worksheet.write(r,32, row[31], content)
            worksheet.write(r,33, row[32], content)
            worksheet.write(r,34, row[33], content)
            worksheet.write(r,35, row[34], content)
            worksheet.write(r,36, row[35], content)
            worksheet.write(r,37, row[36], content)
            
    cursor.close()

In [3]:
# B Transaction
def B_Transaction():
    cursor = database.cursor()
    SUMMARY = ("SELECT calling_date, sum(CASE WHEN calling_type IN (1) THEN trans_count ELSE 0 END) PA_ATTEMPT, \
    sum(CASE WHEN calling_type IN (1) AND RESULT IN (0, 805) THEN trans_count ELSE 0 END) PA_SUCCESS, \
    sum(CASE WHEN calling_type IN (1) AND RESULT IN (0, 805) THEN revenue ELSE 0 END) PA_REVENUE, \
    sum(CASE WHEN calling_type IN (2, 7, 77) THEN trans_count ELSE 0 END) PM_ATTEMPT, \
    sum(CASE WHEN calling_type IN (2, 7, 77) AND RESULT IN (0, 805) THEN trans_count ELSE 0 END) PM_SUCCESS, \
    sum(CASE WHEN calling_type IN (2, 7, 77) AND RESULT IN (0, 805) THEN revenue ELSE 0 END) PM_REVENUE, \
    sum(CASE WHEN calling_type IN (64, 93, 95, 96, 99, 100) THEN trans_count ELSE 0 END) RA_ATTEMPT, \
    sum(CASE WHEN calling_type IN (64, 93, 95, 96, 99, 100) AND RESULT IN (0, 805) THEN trans_count ELSE 0 END) RA_SUCCESS, \
    sum(CASE WHEN calling_type IN (64, 93, 95, 96, 99, 100) AND RESULT IN (0, 805) THEN revenue ELSE 0 END) RA_REVENUE, \
    sum(CASE WHEN calling_type IN (78, 65) THEN trans_count ELSE 0 END) RM_ATTEMPT , \
    sum(CASE WHEN calling_type IN (78, 65) AND RESULT IN (0, 805) THEN trans_count ELSE 0 END) RM_SUCCESS, \
    sum(CASE WHEN calling_type IN (78, 65) AND RESULT IN (0, 805) THEN revenue ELSE 0 END) RM_REVENUE, \
    sum(CASE WHEN calling_type IN (1, 2, 7, 77, 78, 64, 93, 65, 95, 96, 99, 100) THEN trans_count ELSE 0 END) TOTAL_ATTEMPT, \
    sum(CASE WHEN calling_type IN (1, 2, 7, 77, 78, 64, 93, 65, 95, 96, 99, 100) AND RESULT IN (0, 805) THEN trans_count ELSE 0 END) TOTAL_SUCCESS, \
    sum(CASE WHEN calling_type IN (1, 2, 7, 77, 78, 64, 93, 65, 95, 96, 99, 100) AND RESULT IN (0, 805) THEN revenue ELSE 0 END) TOTAL_REVENUE \
    FROM cdr_report_goofree WHERE calling_type IN (1, 2, 7, 77, 78, 64, 93, 65, 95, 96, 99, 100) AND calling_date = TO_CHAR(SYSDATE-1, 'YYYYMMDD') \
    GROUP BY calling_date ORDER BY calling_date")
    
    # Exec query summary
    cursor.execute(SUMMARY)
    result = cursor.fetchall()

    worksheet.write('A8','B Transaction',title)
    worksheet.merge_range('B10:B11','Calling Date',bold)
    worksheet.merge_range('C10:E10','PURCHASE AUTORENEWAL ON (A)',bold)
    worksheet.set_column('C:E', 15)
    worksheet.write('C11','PA_ATTEMPT',bold)
    worksheet.write('D11', 'PA_SUCCESS',bold)
    worksheet.write('E11', 'PA_REVENUE',bold)
    worksheet.merge_range('F10:H10','PURCHASE AUTORENEWAL OFF (B)',bold)
    worksheet.set_column('F:H', 15)
    worksheet.write('F11','PA_ATTEMPT',bold)
    worksheet.write('G11', 'PA_SUCCESS',bold)
    worksheet.write('H11', 'PA_REVENUE',bold)
    worksheet.merge_range('I10:K10','PURCHASE AUTORENEWAL OFF (B)',bold)
    worksheet.set_column('I:K', 15)
    worksheet.write('I11','PA_ATTEMPT',bold)
    worksheet.write('J11', 'PA_SUCCESS',bold)
    worksheet.write('K11', 'PA_REVENUE',bold)
    worksheet.merge_range('L10:N10','RENEWAL AUTORENEWAL OFF (B)',bold)
    worksheet.set_column('L:N', 15)
    worksheet.write('L11','PA_ATTEMPT',bold)
    worksheet.write('M11', 'PA_SUCCESS',bold)
    worksheet.write('N11', 'PA_REVENUE',bold)
    worksheet.merge_range('O10:O11','TOTAL ATTEMPT',bold)
    worksheet.set_column('O:O', 12)
    worksheet.merge_range('P10:P11','TOTAL SUCCESS',bold)
    worksheet.set_column('P:P', 12)
    worksheet.merge_range('Q10:Q11','TOTAL REVENUE',bold)
    worksheet.set_column('Q:Q', 18)

    for r, row in enumerate(result, start=11):
        for c, col in enumerate(row):
            content = workbook.add_format({'font_color': 'black', 'num_format': '#,##0', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            content.set_border()
            date_format = workbook.add_format({'font_color': 'black', 'num_format': 'yyyymmdd', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            date_format.set_border()
            worksheet.write(r,1, row[0], date_format)
            worksheet.write(r,2, row[1], content)
            worksheet.write(r,3, row[2], content)
            worksheet.write(r,4, row[3], content)
            worksheet.write(r,5, row[4], content)
            worksheet.write(r,6, row[5], content)
            worksheet.write(r,7, row[6], content)
            worksheet.write(r,8, row[7], content)
            worksheet.write(r,9, row[8], content)
            worksheet.write(r,10, row[9], content)
            worksheet.write(r,11, row[10], content)
            worksheet.write(r,12, row[11], content)
            worksheet.write(r,13, row[12], content)
            worksheet.write(r,14, row[13], content)
            worksheet.write(r,15, row[14], content)
            worksheet.write(r,16, row[15], content)
            
    cursor.close()

In [4]:
# C_Subscriber
def C_Subscriber():
    cursor = database.cursor()
    SUMMARY = ("SELECT a.calling_date, a. total TOTAL_SUBSCRIBER, b.t_req_act TOT_REQ_ACTIVATION, b.t_req_act_succ TOT_SUCC_ACTIVATION, \
    b.t_req_deact TOT_REQ_DEACTIVATION, b.t_req_deact_succ TOT_SUCC_DEACTIVATION, b.s_a SUSPEND_TO_ACTIVE, b.a_s ACTIVE_TO_SUSPEND FROM subs_summary_region a, ( \
    SELECT calling_date, sum(case when calling_type = 17 then 1 else 0 end) t_req_act, sum(case when calling_type = 17 and result in (0,805) then 1 else 0 end) t_req_act_succ, \
    sum(case when calling_type = 72 then 1 else 0 end) t_req_deact, sum(case when calling_type = 72 and result in (0,805) then 1 else 0 end) t_req_deact_succ, \
    sum(case when prev_subs_status = 'S' and next_subs_status ='A'  then 1 else 0 end) s_a, sum(case when prev_subs_status = 'A' and next_subs_status ='S'  then 1 else 0 end) a_s \
    FROM call_detailed_record WHERE CALLING_DATE = TO_CHAR(SYSDATE-2,'YYYYMMDD') group by calling_date) b WHERE a.calling_date = b.calling_date")
    
    # Exec query summary
    cursor.execute(SUMMARY)
    result = cursor.fetchall()

    worksheet.write('A16','C_Subscriber',title)
    worksheet.write('B18','Calling Date',bold)
    worksheet.set_row(17, 30)
    worksheet.write('C18','TOTAL SUBSCRIBER',bold)
    worksheet.write('D18','TOT REQ ACTIVATION',bold)
    worksheet.write('E18','TOT SUCC ACTIVATION',bold)
    worksheet.write('F18','TOT REQ DEACTIVATION',bold)
    worksheet.write('G18','TOT SUCC DEACTIVATION',bold)
    worksheet.write('H18','SUSPEND TO ACTIVE',bold)
    worksheet.write('I18','ACTIVE TO SUSPEND',bold)
    worksheet.write('J18','Free',bold)
    worksheet.write('K18','Paid',bold)
    worksheet.set_column('B:K', 15)
    
    for r, row in enumerate(result, start=18):
        for c, col in enumerate(row):
            content = workbook.add_format({'font_color': 'black', 'num_format': '#,##0', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            content.set_border()
            date_format = workbook.add_format({'font_color': 'black', 'num_format': 'yyyymmdd', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            date_format.set_border()
            worksheet.write(r,1, row[0], date_format)
            worksheet.write(r,2, row[1], content)
            worksheet.write(r,3, row[2], content)
            worksheet.write(r,4, row[3], content)
            worksheet.write(r,5, row[4], content)
            worksheet.write(r,6, row[5], content)
            worksheet.write(r,7, row[6], content)
            worksheet.write(r,8, row[7], content)
            
    cursor.close()

In [5]:
# C_Subscriber Free Paid
def C_FreePaid():
    cursor = database.cursor()
    SUMMARY = ("SELECT sum(case when b.initial_amount =0 then 1 else 0 end), sum(case when b.initial_amount !=0 then 1 else 0 end) \
    from user_monthly_rating a, V_SUBS_STATUS b where a.content_id=b.content_id and a.rating_id=b.rating_id and a.play_order = '000' \
    and a.effective_dt_to like '9999%'")
    
    # Exec query summary
    cursor.execute(SUMMARY)
    result = cursor.fetchall()
    
    for r, row in enumerate(result, start=18):
        for c, col in enumerate(row):
            content = workbook.add_format({'font_color': 'black', 'num_format': '#,##0', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            content.set_border()
            worksheet.write(r,9, row[0], content)
            worksheet.write(r,10, row[1], content)
            
    cursor.close()

In [6]:
# C_SUBS_WITHDRAWAL
def C_SUBS_WITHDRAWAL():
    cursor = database.cursor()
    SUMMARY = ("SELECT calling_date, sum(case when calling_type = 18 and result = 0 then 1 else 0 end) SUBS_WITHDRAWAL, \
    sum(case when calling_type = 4 and result = 0 then 1 else 0 end) DELETE_CONTENT, sum(case when calling_type = 67 \
    and result = 0 then 1 else 0 end) RENEWAL_CONTENT_DELETION, sum(case when calling_type in (64,93,95,96,99,100) and \
    result = 666 then 1 else 0 end) RENEWAL_CONTENT_INSUF_BALANCE, sum(case when calling_type in (64,93,95,96,99,100) \
    and result = 502 then 1 else 0 end) RENEWAL_CONTENT_ERROR_CHARGING, count(*) GRAND_TOTAL FROM call_detailed_record \
    WHERE prev_subs_status = 'A' AND next_subs_status ='S' AND CALLING_DATE = TO_CHAR(SYSDATE-1,'YYYYMMDD') AND \
    calling_type in (4,18,67,64,93,95,96,99,100) AND result in (0,502,666) GROUP BY calling_date")
    
    # Exec query summary
    cursor.execute(SUMMARY)
    result = cursor.fetchall()
    worksheet.write('B23','Calling Date',bold)
    worksheet.set_row(22, 30)
    worksheet.write('C23','SUBS WITHDRAWAL',bold)
    worksheet.write('D23','DELETE CONTENT',bold)
    worksheet.write('E23','RENEWAL CONTENT DELETION',bold)
    worksheet.write('F23','RENEWAL CONTENT INSUF BALANCE',bold)
    worksheet.write('G23','RENEWAL CONTENT ERROR CHARGING',bold)
    worksheet.write('H23','GRAND TOTAL',bold)
    
    for r, row in enumerate(result, start=23):
        for c, col in enumerate(row):
            content = workbook.add_format({'font_color': 'black', 'num_format': '#,##0', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            content.set_border()
            date_format = workbook.add_format({'font_color': 'black', 'num_format': 'yyyymmdd', 'align': 'center', 'valign': 'vcenter', 'border': 1})
            date_format.set_border()
            worksheet.write(r,1, row[0], date_format)
            worksheet.write(r,2, row[1], content)
            worksheet.write(r,3, row[2], content)
            worksheet.write(r,4, row[3], content)
            worksheet.write(r,5, row[4], content)
            worksheet.write(r,6, row[5], content)
            worksheet.write(r,7, row[6], content)
            
    cursor.close()

In [7]:
A_KPI()
B_Transaction()
C_Subscriber()
C_FreePaid()
C_SUBS_WITHDRAWAL()
workbook.close()
database.close()